@using WebUI.HtmlHelpers
@model WebUI.Models.ProductListViewModel

@{
    ViewBag.Title = "Products";
}


@foreach (var p in Model.Products)
{
    @*<div class="well">
        <h3>
            <strong>@p.Name</strong>
            <span class="pul-right"><label class="label-primary">@p.Price.ToString("c")</label></span>
        </h3>
        <span>@p.Description</span>
    </div>*@
    
    @Html.Partial("ProductSummary",p)
}

<div>
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x, category = Model.CurrentCategory}))
</div>

